* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, Tahoma;
}
::selection {
  background: #000;
  color: #fff;
}

/* start header */
header {
  width: 100%;
  padding: 15px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto;
}

header nav ul li .active {
  color: #efba6c;
}
header nav ul li a:hover {
  color: #efba6c;
}
header nav ul li:hover {
  transform: translateY(-5px);
}
header .logo {
  width: 70px;
  cursor: pointer;
  transition: all 0.5s;
}
header .logo:hover {
  transform: translateX(-9px);
}

header nav ul li {
  display: inline-block;
  list-style: none;
  transition: all 0.5s;
}
header nav ul li a {
  text-decoration: none;
  margin-left: 60px;
  color: black;
  transition: color 0.5s;
  font-size: 18px;
}

/* end header */

/* start first section */

.cont {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/xhero_1.jpg.webp);
  background-size: cover;
  background-position: center;
}
.cont .left {
  width: 35%;
  margin-left: 10%;
  padding-top: 10%;
}
.cont .left h1 {
  font-size: 50px;
  color: #fff;
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
.cont .left p {
  color: #fff;
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
}

.cont .left .play {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  transition: all 0.5s;
}
.cont .left .play:hover {
  background: white;
  color: black;
}
.cont .left a {
  text-decoration: none;
  cursor: text;
  position: relative;
  top: -45px;
  left: 18%;
  color: white;
  font-size: 14px;
}

/* end first section */

/* start second section */
.row {
  width: 100%;
  height: 100vh;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.row .left {
  width: 600px;
  padding-left: 70px;
  position: relative;
}
.row .left span:nth-child(1) {
  line-height: 1;
  top: -12%;
  position: absolute;
  z-index: -1;
  font-weight: 900;
  font-size: 90px;
  color: #efefef;
}

.row .left span:nth-child(2) {
  color: #efba6c;
  font-size: 14px;
  font-weight: bold;
}
.row .left h3 {
  margin: 5px auto;
  color: black;
  font-weight: 500;
  line-height: 1.2;
  font-size: 25px;
}
.row .left p {
  margin: 20px auto;
  line-height: 30px;
  color: #252424;
  font-weight: 100;
}
.right {
  transform: translate(0);
  opacity: 1;
}
.right img {
  width: 600px;
  height: 600px;
  animation: slidng 0.5s linear 1;
  transition: all 0.5s;
}

@keyframes slidng {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* end second section */

/* start third section */
.cont2 {
  width: 100%;
  height: 150vh;
  margin: 50px auto;
}
.cont2 .mid {
  position: relative;
  text-align: center;
}

.cont2 .mid span:nth-child(1) {
  line-height: 1;
  top: -23%;
  left: 35.5%;
  position: absolute;
  z-index: -1;
  font-weight: 900;
  font-size: 80px;
  color: #efefef;
}

.cont2 .mid span:nth-child(2) {
  color: #efba6c;
  font-size: 14px;
  font-weight: bold;
}
.cont2 .mid h2 {
  margin-top: 15px;
  color: black;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 3px;
}

.cont2 .bot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 70%;
  margin: auto;
}
.cont2 .bot figure {
  width: 30%;
  height: 400px;
  margin-top: 50px;
  position: relative;
}
.cont2 .bot figure img {
  width: 100%;
  height: 400px;
  transition: all 0.5s;
  transform: scale(1.05);
  object-fit: cover;
  vertical-align: middle;
}
.cont2 .bot figure img:hover {
  transform: scale(1);
}
.cont2 .bot figure figcaption {
  position: absolute;
  bottom: 30px;
  left: 35%;
}
.cont2 .bot figure figcaption button {
  background-color: #efba6c;
  border-radius: 20px;
  padding: 5px 20px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  display: block;
  color: white;
}
.cont2 .bot figure figcaption button:hover {
  background-color: #e9a744;
}
.cont2 .bot figure figcaption span {
  margin-left: -30px;
  margin-bottom: 30px;
  color: white;
}
/* end third section */

/* start fouth section */

.cont2 .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 70%;
  margin: auto;
  text-align: center;
}
.cont2 .bottom figure {
  width: 30%;
  height: 400px;
  margin-top: 50px;
  position: relative;
}
.cont2 .bottom figure img {
  width: 260px;
  height: 260px;
  transition: all 0.5s;
  transform: scale(1.05);
  object-fit: cover;
  vertical-align: middle;
}
.cont2 .bottom figure img:hover {
  transform: scale(1);
}
.cont2 .bottom figure figcaption {
  width: 280px;
}
.cont2 .bottom figure figcaption h4 {
  margin: 30px auto;
  font-weight: 500;
}
.cont2 .bottom figure figcaption span {
  margin: 5px auto;
  font-weight: 500;
  color: grey;
  text-shadow: 3px 3px 3px #f79606;
}
.cont2 .bottom figure figcaption p {
  margin: 30px auto;
  font-weight: 500;
  line-height: 25px;
  color: #3b3b3b;
}
.cont2 .bottom figure figcaption a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(239, 186, 108, 0.2);
  position: relative;
  transition: all 0.5s;
  color: #efba6c;
  line-height: 49px;
}
.cont2 .bottom figure figcaption a:hover {
  color: #db901e;
}
/* end fourth section */

/* start fifth section */
.cont3 {
  width: 100%;
  height: 130vh;
}
.cont3 .mid {
  position: relative;
  text-align: center;
}

.cont3 .mid span:nth-child(1) {
  line-height: 1;
  top: -23%;
  left: 42%;
  position: absolute;
  z-index: -1;
  font-weight: 900;
  font-size: 80px;
  color: #efefef;
}

.cont3 .mid span:nth-child(2) {
  color: #efba6c;
  font-size: 14px;
  font-weight: bold;
}
.cont3 .mid h2 {
  margin-top: 10px;

  color: black;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 3px;
}

.cont3 .blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 70%;
  margin: auto;
  text-align: center;
}
.cont3 .blog figure {
  width: 30%;
  height: 400px;
  margin-top: 50px;
  position: relative;
}
.cont3 .blog figure img {
  width: 290px;
  height: 387px;
  transition: all 0.5s;
  transform: scale(1.05);
  object-fit: cover;
  vertical-align: middle;
}
.cont3 .blog figure img:hover {
  transform: scale(1);
}
.cont3 .blog figure figcaption {
  width: 280px;
}
.cont3 .blog figure figcaption h4 {
  margin: 30px auto;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}
.cont3 .blog figure figcaption h4:hover {
  color: #ff9900;
}
.cont3 .blog figure figcaption span {
  margin: 5px auto;
  font-weight: 500;
  color: grey;
}
.cont3 .blog figure figcaption span .sp {
  color: #ddb77d;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 20px;
}
.cont3 .blog figure figcaption span .sp:hover {
  color: #ff9900;
}
.cont3 .blog figure figcaption p {
  margin: 30px auto;
  font-weight: 500;
  line-height: 25px;
  color: #3b3b3b;
}

/* end fifth section */

/* start the six section */

.cont4 {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(
      rgba(239, 186, 108, 0.4),
      rgba(239, 186, 108, 0.4)
    ),
    url(images/xhero_1.jpg.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cont4 .middle {
  width: 50%;
}
.cont4 .middle h1 {
  font-size: 50px;
  color: #fff;
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
.cont4 .middle p {
  color: #fff;
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
}
.cont4 .middle button {
  color: white;
  background-color: #e0a040;
  padding: 20px;
  margin-top: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s;
}
.cont4 .middle button:hover {
  background-color: #ff9900;
}

/* end the six section */

/* start footer */
footer {
  width: 100%;
  background-color: #f6f5f5;
}
footer .row {
  height: 85vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 100px;
}
footer .row .pics {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .row .pics img {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  cursor: pointer;
}

.col:nth-child(3) {
  flex-basis: 30%;
}
.col h3 {
  width: fit-content;
  margin-bottom: 38px;
  font-weight: 500;
}
.col p {
  line-height: 30px;
  color: grey;
}
.col form {
  margin-top: 15px;
  display: inline-flex;
}
.col form input {
  padding: 20px;
  border: 1px solid rgb(214, 214, 214);
  outline: none;
  border-radius: 3px;
  transition: all 0.5s;
}
.col form input:hover {
  border: 1px solid black;
}
.col form button {
  padding: 20px;
  margin-left: 20px;
  background: #dfa145;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  letter-spacing: 5px;
}
.col form button:hover {
  background: #df8600;
}
ul li {
  list-style: none;
  margin-bottom: 15px;
}
ul li a {
  text-decoration: none;
  color: #db901e;
}
footer .copy {
  margin-left: 22%;
}
footer .copy i {
  color: red;
}
footer .copy a {
  text-decoration: none;
  color: #ffce85;
  transition: all 0.5s;
}
footer .copy a:hover {
  color: #fc9e12;
}
/* end footer */
